.intro {
  text-align:     center;
  padding:        0 8%;
  margin-bottom:  20px;
}

.card {
  display:        flex;
  flex-direction: column;
  padding:        2rem;
  margin:         1rem;
  border-radius:  $border-radius;
  justify-content: flex-start;
  color:         white;
  height:         100%;
  background-color: $secondary-color;
}

.clickable {
  text-align:     center;
}


.pills {
  display:      flex;
  flex-wrap:    wrap;
  gap:          8px;

  .pill {
    padding:            2px 4px;
    border-radius:      $border-radius;
    border:             0.8px solid white;
  }
}
