.intro {
  text-align:     center;
  padding:        0 8%;
  margin-bottom:  20px;
}

.card {
  display:        flex;
  flex-direction: column;
  padding:        2rem;
  border-radius:  $border-radius;
  justify-content: flex-start;
  height:         100%;
  background-color: $lighter-color;
}

.clickable {
  text-align:     center;
  color: $primary-color;
}


.pills {
  display:      flex;
  flex-wrap:    wrap;
  gap:          8px;

  .pill {
    padding:            4px 8px;
    border-radius:      $border-radius;
    border:             0.8px solid $secondary-color;
    text-align:         center;
  }
}
