.two-cols, .img-col {
  align-items:          center;
  gap:                  64px;
  margin:               20px 0 80px 0;
}

.mask {
  -webkit-mask-image:   url(../../../public/Blog.svg);
  mask-image:           url(../../../public/Blog.svg);
  -webkit-mask-repeat:  no-repeat;
  mask-repeat:          no-repeat;
  max-width:            320px;
}
