.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.contact-infos {
  margin-top: 20px;
  padding: 20px;

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

.copy-btn {
  background-color:   $light-grey;
  padding:            2px 8px;
  border:             0.5px solid $secondary-color;
  border-radius:      $border-radius;
  cursor:             pointer;
}
