.section {
  margin:     40px 0;
  color:      rgb(49, 49, 49);

  > h2 {
    color:      $secondary-color;
  }

}

.padding-left {
  padding-left:   20px;
}

.vertical-navbar {
  position:     sticky;
  top:          100px;

  .btn {
    background-color: $lighter-color;
    padding:          1rem 2rem;
    text-align:       center;
    margin:           2rem;
    border-radius:    $border-radius;
    font-weight:      bolder;
  }
}
