$primary-color:     #2c3749;
$secondary-color:   #5787c7;
$light-color:       #ABB194;
$light-grey:        #F0F0F0;

$border-radius:     8px;
$title-font:        'Manrope', sans-serif;

h1, h2, h3, .title {
  font-family:      $title-font
}


#root {
  padding-inline:   16px;
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  margin-top:       3rem;
}


body {
  background-color:   $light-grey;
}

.app {
  width:              100%;
}

a {
  text-decoration:    none;
  color:              inherit;
}

*,
*::before,
*::after {
  font-family:        'Lato', sans-serif;
  margin:             0;
  padding:            0;
  box-sizing:         border-box;
}



/* responsive for large than 575px screen */
@media (min-width: 575px) {
  #root {
    max-width:     540px;
    width:         100%;
    margin-inline: auto;
}}

/* responsive for large than 768px screen*/
@media (min-width: 768px) {
  #root { max-width: 720px; }
}

/* responsive for large than 992px screen */
@media (min-width: 992px) {
  #root { max-width: 960px; }
}

/* responsive for large than 1200px screen */
@media (min-width: 1200px) {
  #root { max-width: 1140px; }
}
