
// ------------------------- SETTINGS -------------------------------------


$primary-color:     #2c3749;
$secondary-color:   #65748d;
$lighter-color:     #d5dbd7;
$light-color:       #8ea999;
$light-grey:        #f8f8fd;

$border-radius:     8px;
$title-font:        'Manrope', sans-serif;

h1, h2, h3, .title {
  font-family:      $title-font
}

div {
  display: grid;
}

#root {
  padding-inline:   16px;
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  margin-top:       3rem;
}


body {
  background-color:   $light-grey;
  line-height:        1.6rem;
}

.app {
  width:              100%;
}

a {
  text-decoration:    none;
  color:              inherit;
}

*,
*::before,
*::after {
  font-family:        'Lato', sans-serif;
  margin:             0;
  padding:            0;
  box-sizing:         border-box;
}


// ------------ COMMON ---------------
span {
  color: $secondary-color;
}

.text {
  display:            flex;
  flex-direction:     column;
  justify-content:    space-around;
  gap:                2rem;
}


.blue {
  color:              $secondary-color;
}


.two-cols, .colsm-col {
  align-items:          start;
  gap:                  64px;
  margin:               20px 0 80px 0;
}
